a {
  color: #0545d5;
  text-decoration-line: none;
}

a:focus,
a:hover {
  color: #3ab4fa;
  text-decoration-line: underline;
}

body,
html {
  height: 100%;
}

footer {
  background-color: #dfdfdf;
  color: #ffffff;
  grid-area: footer;
}

header {
  background-color: #fd7d27;
  color: #ffffff;
  grid-area: header;
}

main {
  grid-area: main;
}


.alert-error,
.alert-generic {
  margin-bottom: 1rem;
  padding: 1rem;
}

.alert-error {
  background-color: #ffa79e;
}

.alert-generic {
  background-color: #efefef;
}

.alert-message {
  margin-right: .5rem;
}

.button-primary,
.button-secondary {
  border-radius: .15rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.25;
  padding: .25rem .375rem;
}

.button-primary {
  background-color: #744fbe;
  border: 1px solid #744fbe;
}

.button-secondary {
  background-color: #766478;
  border: 1px solid #766478;
}

.credit {
  color: #000000;
}

.field-inline {
  margin-right: .5rem;
}

.field-text {
  border: 1px solid #bfbfbf;
  border-radius: .15rem;
  font-size: 1rem;
  line-height: 1.25;
  padding: .25rem .375rem;
}

.button-primary:focus {
  border: 1px solid #ffaf00;
  background-color: #ffaf00;
}

.footer-column {
  align-items: center;
  display: flex;
  padding: 2rem 1rem;
}

.main-column {
  padding: 0 1rem;
}

.result {
  background-color: #efefef;
  margin-bottom: 1rem;
  padding: 1rem;
}

.result:last-child {
  margin-bottom: 0;
}

.result-list {
  padding-bottom: 1rem;
}

.result-metadata {
  display: flex;
}

.result-metadata-item {
  margin-right: 1rem;
}

.result-metadata-item:last-child {
  margin-right: 0;
}

.result-title {
  font-size: 1.25em;
  padding-bottom: .5rem;
}

.search-box {
  padding: 1rem 0;
}

.social-icon {
  height: 24px;
  margin-right: .25rem;
  width: 24px;
}

.social-link {
  margin-right: 1rem;
}

.title {
  font-family: "Monda", sans-serif;
  margin: 0;
  padding: 2rem 1rem;
}


#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}


@media (min-width: 600px) {
  .footer-column,
  .main-column,
  .title {
    margin: auto;
    width: 600px;
  }
}

@media (min-width: 900px) {
  .footer-column,
  .main-column,
  .title {
    width: 900px;
  }
}